<div>
    <div>
        <!-- <img src="images/yzwer.jpg" alt="叶泽伟" title="叶泽伟"><br> -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/yzwbeast.png" style="height:144px;">
                </div>
                <div class="flip-card-back">
                    <h1 class="glow">欢迎</h1>
                </div>
            </div>
        </div>
        <br>
        <img src="/images/favicon/githubpage.ico" height="16" width="16" />
        <a href="https://pylove.us.kg/" target="_blank">博客主站点 (GitHub Pages)</a><br>
        <img src="/images/favicon/gmail.ico" height="16" width="16" />
        <a href="mailto:yzw.beast@gmail.com" target="_blank">俺的邮箱 (Gmail)</a><br>
        <a href="https://github.com/yzwbeast" target="_blank">
            <picture>
                <!-- 深色模式图片 -->
                <source srcset="/images/favicon/github1.ico" media="(prefers-color-scheme: dark)">
                <!-- 浅色模式图片 -->
                <source srcset="/images/favicon/github.ico" media="(prefers-color-scheme: light)">
                <!-- 默认图片 -->
                <img src="/images/favicon/github.ico" height="16" width="16" alt="GitHub Icon">
            </picture>
            俺的收藏 (GitHub)
        </a><br>

        <img src="/images/favicon/twitter.ico" height="16" width="16" />
        <a href="https://twitter.com/yzwbeast" target="_blank">俺的推特 (@YzwBeast)</a><br>
        <img src="/images/favicon/xiaohongshu.ico" height="16" width="16" />
        <a href="https://www.xiaohongshu.com/user/profile/5f4a70a3000000000101d0a5" target="_blank">俺的小红书
            (@YzwBeast)</a><br>
        <img src="/images/favicon/zhihu.ico" height="16" width="16" />
        <a href="https://www.zhihu.com/people/er-yue-xie-52" target="_blank">俺的知乎
            (@YzwBeast)</a><br>
    </div>
    <div>
        <h2>订阅博客</h2>
        <div>
            <a href="/rss.xml" class="tooltip" id="tooltip5" target="_blank">
                <img src="/images/feed-icon-animated.gif" alt="RSS 订阅"></a>
        </div>
    </div>
    <div>
        <h2>博客主要内容</h2>
        <div>
            ★提升思维能力<br>
            ★软件开发技术
        </div>
    </div>
    <div>
        <h2>分类标签</h2>
        <div>
            <ul>
                <li><a href="/tags/it.html" class="tag">编程</a></li>
                <li><a href="https://song.pylove.us.kg/index.html" class="tag">音乐</a></li>
                <li><a href="/tags/travel.html" class="tag">旅游</a></li>
                <li><a href="/tags/books.html" class="tag">书籍</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <h2>推荐帖子（IT）</h2>
            <ul>
                <li><a href='/tags/it.html'>编程</a></li>
            </ul>
        </div>
    </div>
    <div>
        <h2>博客站内搜索 (需联网)</h2>
        <div>
            <img src="/images/search/google.png" alt="Google"><br>
            <form method="GET" action="https://encrypted.google.com/search" target="_blank">
                <input name="ie" value="UTF-8" type="hidden">
                <input name="oe" value="UTF-8" type="hidden">
                <input name="sitesearch" value="site:yzw.github.io" type="hidden">
                <input name="q" size="32" maxlength="128" type="text">
                <input name="search" value="Google" type="submit">
            </form>
            <br>
            <img src="/images/search/bing.png" alt="Bing"><br>
            <form method="GET" action="https://www.bing.com/search" target="_blank">
                <input name="q1" value="site:yzw.github.io" type="hidden">
                <input name="q" size="32" maxlength="128" type="text">
                <input name="search" value="Bing" type="submit">
            </form>
        </div>
    </div>
</div>